/* 페이지 전체에 관여하는 내용들  */

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #37474f;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
